@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: #faf8ef;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .bg-game {
    background-color: #faf8ef;
  }

  .bg-board {
    background-color: #bbada0;
  }

  .bg-tile {
    background-color: #cdc1b4;
  }
}

@layer components {
  .tile {
    @apply bg-tile justify-center items-center size-32 rounded-md font-mono text-8xl font-bold;
  }
}

/*
2: #eee4da
4: #ede0c8
8: #f2b179
16: #f49563
32: #

*/